apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: aggregator-data
  namespace: moto-news
  labels:
    app: aggregator
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: aggregator-blog
  namespace: moto-news
  labels:
    app: aggregator
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
