apiVersion: v1
kind: Service
metadata:
  name: aggregator
  namespace: moto-news
  labels:
    app: aggregator
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: aggregator
---
# NodePort for external access (optional, for development)
apiVersion: v1
kind: Service
metadata:
  name: aggregator-external
  namespace: moto-news
  labels:
    app: aggregator
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
      protocol: TCP
      name: http
  selector:
    app: aggregator
