sources:
  - name: rideapart
    feeds:
      - https://www.rideapart.com/rss/news/all/
      - https://www.rideapart.com/rss/reviews/all/
      - https://www.rideapart.com/rss/features/all/
    enabled: true

translator:
  provider: ollama  # or "libretranslate"
  ollama:
    model: translategemma:12b
    host: http://localhost:11434
    prompt: |
      You are a professional English (en) to Russian (ru) translator. Your goal is to accurately convey the meaning and nuances of the original English text while adhering to Russian grammar, vocabulary, and cultural sensitivities.

      Produce only the Russian translation, without any additional explanations or commentary. Please translate the following English text into Russian:


  libretranslate:
    host: http://localhost:5050

database:
  path: ./moto-news.db

mkdocs:
  path: ./blog
  docs_dir: docs
  auto_commit: true
  git_repo: https://github.com/KlimDos/my-blog.git
  git_remote: origin
  git_branch: main

server:
  host: 0.0.0.0
  port: 8080

schedule:
  fetch_interval: 6h
  translate_batch: 20
